
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt">
			<!-- <div class="block-header">
				<h2>
					Update Employee List <small></small>
				</h2>
			</div> -->

			<div class="card" data-ng-controller="customerprogramcontroller">
				<div class="card-header">
					<h2>
						Add Customer Program Code(CPC)<small></small>
					</h2>
					<div class="card-body card-padding">
						<div class='row'>
							<div class='col-sm-4'>
								<div class="form-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-label zmdi-hc-fw"> </i>Customer</span>
									<div class="fg-line"></div>
								</div>

								<div class="form-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-functions zmdi-hc-fw"> </i>Customer Program
										Code Name</span>
									<div class="fg-line"></div>
								</div>

								<div class="form-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-functions zmdi-hc-fw"> </i>Customer Program
										Code Type</span>
									<div class="fg-line"></div>
								</div><br>
								<!-- <div class="form-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-collection-image-o zmdi-hc-fw"> </i>Project </span>
									<div class="fg-line"></div>
								</div> -->

							</div>

							<div class='col-sm-6'>
								<div class="form-group">
									<div class="fg-line">
										<div class="select">
											<select class="form-control" ng-model='customerId' id="customerId"
											onchange="validateInstant(this)"
												ng-options="customer.customerId  as customer.customerName    for customer in customers">

											</select>

										</div>
									</div>
								</div>
								<br>
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control"  id="customerprogName"
											onkeypress="validateInstant(this)"
											ng-model='customerprogName'
											placeholder="Enter Customer Program Code Name">
									</div>
								</div>
								<br>
								<div class="form-group">
									<div class="fg-line">
										<div class="select">
											<select class="form-control" ng-model='customerProgCodeType' id="customerProgCodeType"
											onchange="validateInstant(this)"
												ng-options="customerProgramCode.groupKey  as customerProgramCode.groupValue    for customerProgramCode in customerProgramCodelist.customerProgramType">

											</select>

										</div>
									</div>
								</div>
								<br /><!--  <br>
								<div class="form-group">
									<div class="fg-line">
									<div ng-dropdown-multiselect="" options="example14data" selected-model="example14model" checkboxes="true" extra-settings="example14settings" id="lenght"></div>
									
										<div class="select">
											<select chosen multiple data-placeholder="Select a Project..." class="w-100" ng-model='project'
												ng-options="projectdetails.projectid  as projectdetails.projectName    for projectdetails in projects">

											</select>

										</div>
									</div>
								</div> -->
								<br />

								<div class="form-group">
									<span>
										<button class="btn btn-primary btn-icon-text waves-effect"
											ng-click='createCPC()'>
											<i class="zmdi zmdi-check-all"></i> Add Customer Program Code
										</button>

										<button class="btn btn-danger btn-icon-text waves-effect" ng-click='resetcpc()'>
											<i class="zmdi zmdi-close"></i> Clear
										</button>
									</span>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</section>
</section>
