
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt">
			<!-- <div class="block-header">
				<h2>
					Update Employee List <small></small>
				</h2>
			</div> -->

			<div class="card" data-ng-controller="DatepickerDemoCtrl">
				<div class="card-header">
					<h2>
						Add Leave<small></small>
					</h2>
					<div class="card-body card-padding">
						<div class='row'>
							<div class='col-sm-4'>
								<div class="form-group">
									<span class="input-group-addon"><i class="zmdi zmdi-label zmdi-hc-fw"> </i>Leave Id </span>
									<div class="fg-line"></div>
								</div>
								<br/>
								<div class="form-group">
									<span class="input-group-addon"><i class="zmdi zmdi-calendar zmdi-hc-fw"> </i>Leave Name</span>
									<div class="fg-line"></div>
								</div>
									<br/>
								<div class="form-group">
									<span class="input-group-addon"><i class="zmdi zmdi-calendar zmdi-hc-fw"> </i>Leave From</span>
									<div class="fg-line"></div>
								</div>
								
								<div class="form-group">
									<span class="input-group-addon"><i class="zmdi zmdi-calendar zmdi-hc-fw"> </i>Leave To</span>
									<div class="fg-line"></div>
								</div>
									
								<div class="form-group">
									<span class="input-group-addon"><i class="zmdi zmdi-calendar zmdi-hc-fw"> </i>Number of Leaves</span>
									<div class="fg-line"></div>
								</div>
									
								<div class="form-group">
									<span class="input-group-addon"><i class="zmdi zmdi-calendar zmdi-hc-fw"> </i>Leave Type</span>
									<div class="fg-line"></div>
								</div>
									<br/>
								<div class="form-group">
									<span class="input-group-addon"> <i class="zmdi zmdi-exposure zmdi-hc-fw"> </i>Leave Status</span>
									<div class="fg-line"></div>
								</div>
							</div>	
							
							<div class='col-sm-4'>
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" placeholder="Enter Leave Id">
									</div>	
								</div>
								<br/> 
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" placeholder="Enter Leave Name">
									</div>	
								</div>
								<br/> 
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" placeholder="Enter Leave From">
									</div>	
								</div>
								<br/> 
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" placeholder="Enter Leave To">
									</div>	
								</div>
								<br/> 
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" placeholder="Enter Number of Leaves">
									</div>	
								</div>
								<br/> 
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" placeholder="Enter Leave Type">
									</div>	
								</div>
								<br/> 
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" placeholder="Enter Leave Status">
									</div>	
								</div>
								
								<br/> 
								
								<div class="form-group">
									<span>
										<button class="btn btn-primary btn-icon-text waves-effect">
										<i class="zmdi zmdi-check-all"></i> Add Leave</button>
													
										<button class="btn btn-danger btn-icon-text waves-effect">
										<i class="zmdi zmdi-close"></i> Clear</button>
									</span>
								</div>
							</div>	
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
