
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt">
			<!-- <div class="block-header">
				<h2>
					Update Employee List <small></small>
				</h2>
			</div> -->

			<div class="card" data-ng-controller="addprojectcontroller">
				<div class="card-header">
					<h2>
						Add Project<small></small>
					</h2>
					<div class="card-body card-padding">
						<div class='row'>
							<div class='col-sm-4'>
								<!-- <div class="form-group">
									<span class="input-group-addon"> <i class="zmdi zmdi-label zmdi-hc-fw"> </i> Project Id </span>
									<div class="fg-line"></div>
								</div> -->

								<div class="form-group">
									<span class="input-group-addon"> <i
										class="zmdi zmdi-assignment zmdi-hc-fw"> </i>Project Name
									</span>
									<div class="fg-line"></div>
								</div>
								<div class="form-group">
									<span class="input-group-addon"> <i
										class="zmdi zmdi-assignment zmdi-hc-fw"> </i>Customer
									</span>
									<div class="fg-line"></div>
								</div>
								<br>
								<div class="form-group">
									<span class="input-group-addon"> <i
										class="zmdi zmdi-assignment zmdi-hc-fw"> </i>Customer Project Code
									</span>
									<div class="fg-line"></div>
								</div>
								<br>
								<div class="form-group">
									<span class="input-group-addon"> <i
										class="zmdi zmdi-assignment zmdi-hc-fw"> </i>Department
									</span>
									<div class="fg-line"></div>
								</div>
								<div class="form-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-label zmdi-hc-fw"> </i>Customer Program Code</span>
									<div class="fg-line"></div>
								</div>

								<div class="form-group">
									<span class="input-group-addon"> <i
										class="zmdi zmdi-assignment zmdi-hc-fw"> </i>Project Type
									</span>
									<div class="fg-line"></div>
								</div>

								<div class="form-group">
									<span class="input-group-addon"> <i
										class="zmdi zmdi-exposure zmdi-hc-fw"> </i> Project Status
									</span>
									<div class="fg-line"></div>
								</div>
								<br />
								<div class="form-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-globe zmdi-hc-fw"></i>Country</span>
									<div class="fg-line"></div>
								</div>
							</div>

							<div class='col-sm-4'>
								<!-- <div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" placeholder="Enter Project Id">
									</div>	
								</div> -->

								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" ng-model='projectname'
											id="projectname" onkeypress="validateInstant(this)"
											placeholder="Enter Project Name">
									</div>
								</div>
								<br>
								
								<div class="form-group">
									<div class="fg-line">
										<div class="select">
											<select class="form-control" ng-model='customerid'
												id="customerid" onchange="validateInstant(this)"
												ng-options="customer.customerId  as customer.customerName    for customer in customers"></select>
											<!-- <select class="form-control" name="customerprojectype"
												ng-model='customerprojecttype'>
												<option>Select Project Type</option>
												<option></option>

											</select> -->
										</div>
									</div>
								</div>
								<br>
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" ng-model='projectCode'
											id="projectCode" onkeypress="validateInstant(this)"
											placeholder="Enter Customer Project Code">
									</div>
								</div>
								<br><br>
								<div class="form-group">
									<div class="fg-line">
										<div class="select">
											<select class="form-control" ng-model='departmentid'
												id="departmentid" onchange="validateInstant(this)"
												ng-options="department.departmentId  as department.departmentName    for department in departments"></select>

										</div>
									</div>

								</div>
								<!-- <br />
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" id="customerprogramid"
											onkeypress="validateInstant(this)"
											ng-model='customerprogramid'
											placeholder="Customer Program Code">

									</div>
								</div> -->
								<br>
								<div class="form-group">
									<div class="fg-line">
										<div class="select">
											<select class="form-control" ng-model='customerprogramid'  onchange="validateInstant(this)"
												ng-options="programcode.customerProgramId  as programcode.customerProgramCode    for programcode in cpc"></select>
										</div>
									</div>
								</div> 
								<br>
								<div class="form-group">
									<div class="fg-line">
										<div class="select">
											<select class="form-control" ng-model='customerproject'
												id="customerproject" onchange="validateInstant(this)"
												ng-options="project.groupKey  as project.groupValue    for project in customerprojectype"></select>
											<!-- <select class="form-control" name="customerprojectype"
												ng-model='customerprojecttype'>
												<option>Select Project Type</option>
												<option></option>

											</select> -->
										</div>
									</div>
								</div>
								<br />
								<div class="form-group">
									<div class="fg-line">
										<div class="select">
											<select class="form-control" ng-model='projectstatus'
												id="projectstatus" onchange="validateInstant(this)"
												ng-options="project.groupKey  as project.groupValue    for project in projectStatus"></select>
											<!-- <select class="form-control" name="customerprojectype"
												ng-model='customerprojecttype'>
												<option>Select Project Type</option>
												<option></option>

											</select> -->
										</div>
									</div>
								</div>
								<br>
								<div class="form-group">
									<div class="fg-line">
										<div class="select">
											<select class="form-control" ng-model="country" id="country"
												onchange="validateInstant(this)"
												ng-options="country.name for country in countries">
											</select>

											<!-- <div class="flagstrap" id="select_country"
											ng-model='customerCountry' data-input-name="NewBuyer_country"
											data-selected-country=""></div> -->
										</div>

									</div>
								</div>

								<br />
								<div class="form-group">
									<span>
										<button class="btn btn-primary btn-icon-text waves-effect"
											ng-click='addprojecttocustomer()'>
											<i class="zmdi zmdi-check-all"></i> Add Project
										</button>

										<button class="btn btn-danger btn-icon-text waves-effect">
											<i class="zmdi zmdi-close"></i> Clear
										</button>
									</span>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
