
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt">
			<!-- <div class="block-header">
				<h2>
					Update Employee List <small></small>
				</h2>
			</div> -->

			<div class="card" data-ng-controller="addrollcontroller">
				<div class="card-header">
					<h2>
						Add Role<small></small>
					</h2>
					<div class="card-body card-padding">
						<div class='row'>
							<div class='col-sm-4'>
								<!-- <div class="form-group">
									<span class="input-group-addon"><i class="zmdi zmdi-label zmdi-hc-fw"> </i>Role Id</span>
									<div class="fg-line"></div>
								</div> -->

								<div class="form-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-camera-front zmdi-hc-fw"> </i>Role Name</span>
									<div class="fg-line"></div>
								</div>
								<div class="form-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-camera-front zmdi-hc-fw"> </i>Parent Role
										Name</span>
									<div class="fg-line"></div>
								</div>
							</div>

							<div class='col-sm-4'>
								

								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" ng-model='roleName' id="roleName"  onkeypress="validateInstant(this)"
											placeholder="Enter Role Name">
									</div>
								</div>

								<div class="form-group">
									<div class="fg-line">
										<div class="select">
											<select class="form-control" name="parentroleId" ng-model='parentroleId' id="parentroleId"  onchange="validateInstant(this)">
												<option>Select Role</option>
												<option ng-repeat='roll in rolls' value='{{roll.roleid}}'>{{roll.roleName}}</option>

											</select>
										</div>
									</div>
								</div>
								<br />

								<div class="form-group">
									<span>
										<button class="btn btn-primary btn-icon-text waves-effect" ng-click="addroll()">
											<i class="zmdi zmdi-check-all"></i> Add Role
										</button>

										<!-- <button class="btn btn-danger btn-icon-text waves-effect">
											<i class="zmdi zmdi-close" ng-click='clearRole()'></i> Clear
										</button> -->
									</span>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
