
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
	<section id="content" class="page-view ng-scope" data-ui-view="">
		<div class="container ng-scope">
			<!-- <div class="block-header">
				<h2>New User Creation</h2>

			</div> -->

			<div class="card" ng-controller="allManagerCTRL as ctrl">
				<div class="card-header">
					<h2>
						New User Creation<small></small>
					</h2>
				</div>

				<div class="card-body card-padding">
					<div class="row">
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-nature-people zmdi-hc-fw"></i></span>
								<div class="fg-line">
									<div class="form-group">
										<div class="fg-line">

											<div class="select">
												<select class="form-control" ng-model='employeeType' myRequired
													onchange="validateInstantInputgroup(this)"
													id='employeeType'>
													 <option value="">Select Employee Type</option>
													<option value='{{data.groupKey}}'
														ng-repeat='data in referenceData.employeeType'>{{data.groupValue}}</option>

												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- <br>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-account"></i></span>
								<div class="fg-line">
									<div class="form-group">
										<div class="fg-line">
											<input type="text" class="form-control" ng-model='employeeId'
												placeholder="Employee Id" readonly
												title='will take care in backend'>
										</div>
									</div>
								</div>
							</div> -->

							<br>

							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-email"></i></span>
								<!-- zmdi zmdi-local-phone -->

								<div class="fg-line">
									<input type="text" class="form-control" ng-model="emailId"
										onkeypress="validateInstantInputgroup(this)" id='emailId'
										placeholder="Email Id">
								</div>

							</div>

							<br><br>

							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-face zmdi-hc-fw"></i></span>

								<div class="fg-line">

									<div class="select">
										<select class="form-control" ng-model='role' id='role' myRequired
											onchange="validateInstantInputgroup(this)">
											 <option value="">Select Role</option>
											<option value='{{roles.roleid}}'
												ng-repeat='roles in rolesdata'>{{roles.roleName}}</option>

										</select>
									</div>

								</div>
							</div>
							<br> <br>
							<div class="form-group" style="margin-top: 5px;">
								<div class="fg-line">

									<div class="date-picker input-group dp-blue"
										ng-class="{ 'is-opened': opened == true }">
										<span class="input-group-addon"
											style="background-color: transparent"><i
											class="zmdi zmdi-calendar ma-icon"></i></span>
										<div class="fg-line"
											ng-class="{ 'fg-toggled': opened == true }">
											<input ng-click="open($event, 'opened')" type="text" readonly
												id="joindate" class="form-control"
												uib-datepicker-popup="{{format}}" show-weeks="false"
												ng-model="dtPopup" is-open="opened" min-date="minDate"
												datepicker-options="dateOptions" ng-required="true"
												close-text="Close" placeholder="Date of Joining"  ng-change="validateInstant('joindate')"/>
										</div>

									</div>

								</div>
							</div>
 <br>
							<!-- <div class="form-group" style="margin-top: 5px;">
								<div class="fg-line">

									<div class="date-picker input-group dp-blue"
										ng-class="{ 'is-opened': opened == true }">
										<span class="input-group-addon"
											style="background-color: transparent"><i
											class="zmdi zmdi-calendar ma-icon"></i></span>
										<div class="fg-line"
											ng-class="{ 'fg-toggled': opened == true }">
											<input ng-click="open($event, 'opened')" type="text" readonly
												id="joindate" class="form-control"
												uib-datepicker-popup="{{format}}" show-weeks="false"
												ng-model="dtPopup" is-open="opened" min-date="minDate"
												datepicker-options="dateOptions" ng-required="true"
												close-text="Close" placeholder="Date of Birth"  ng-change="validateInstant('joindate')"/>
										</div>

									</div>

								</div>
							</div> -->
							<!-- <div class="input-group">
								<span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
								<div class="fg-line">
									<input type="text" class="form-control"
										placeholder="Home Address">
								</div>
							</div> -->
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-code zmdi-hc-fw"></i></span>
								<div class="fg-line">
									<input type="text" class="form-control" ng-model='employeeCode'
										onkeypress="validateInstantInputgroup(this)" id="employeeCode"
										placeholder="Employee Code">
								</div>
							</div>
							<br> <br>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-account"></i></span>
								<div class="fg-line">
									<input type="text" class="form-control" ng-model='firstName'
										onkeypress="validateInstantInputgroup(this)" id="firstName"
										placeholder="First Name">
								</div>
							</div>

							<br> <br>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-pin-account zmdi-hc-fw"></i></span>
								<!-- zmdi zmdi-local-phone -->
								<div class="fg-line">
									<input type="text" class="form-control" ng-model='loginId'
										onkeypress="validateInstantInputgroup(this)" id="loginId"
										placeholder="Employee Login ID">
								</div>
							</div>

							<br><br>

							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-accounts zmdi-hc-fw"></i></span>
								<div class="fg-line">
									<div class="form-group">
										<div class="fg-line">

											<div class="select">
												<select class="form-control" ng-model='managerId' myRequired
													onchange="validateInstantInputgroup(this)" id="managerId">
													 <option value="">Select Superviser</option>
													<option value='{{manager.employeeId}}'
														ng-repeat='manager in managers'>{{manager.firstName}}&nbsp;{{manager.lastName}}</option>

													<!-- 	<option>Lead</option> -->
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>

							<br>
							<!-- <div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-nature-people zmdi-hc-fw"></i></span>
								<div class="fg-line">
									<div class="form-group">
										<div class="fg-line">

											<div class="select">
												<select class="form-control" ng-model='employeeType'>
													<option value=''>Selct Employee Type</option>
													<option value="FTE">FTE</option>
													<option value="CTE">CTE</option>

												</select>
											</div>
										</div>
									</div>
								</div>
							</div> -->
							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-thumb-up-down zmdi-hc-fw"></i></span>
								<div class="fg-line">
									<div class="form-group">
										<div class="fg-line">

											<div class="select">
												<select class="form-control" name="empstatus" myRequired
													id='employeeStatus'
													onchange="validateInstantInputgroup(this)"
													ng-model='employeeStatus'>
 													<option value="">Select Employee Status</option>
													<option value='Active'>Active</option>
													<option value='Inactive'>InActive</option>

												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-assignment-account zmdi-hc-fw"></i></span>
								<!-- zmdi zmdi-local-phone -->
								<div class="fg-line">
									<!-- <input type="text" class="form-control" ng-model="designation"
										id='designation' onkeypress="validateInstantInputgroup(this)"
										placeholder="Select Designation"> -->
								<div class="select">
												<select class="form-control" ng-model="designation" myRequired
													id='designation'
													onchange="validateInstantInputgroup(this)">
 													<option value="">Select Designation</option>
													<option value='{{data.groupKey}}'
														ng-repeat='data in referenceData.designation'>{{data.groupValue}}</option>
												</select>
											</div>
								</div>
							</div>
							<br> <br>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-account"></i></span>
								<div class="fg-line">
									<input type="text" class="form-control" placeholder="Last Name"
										id='lastName' onkeypress="validateInstantInputgroup(this)"
										ng-model='lastName'>
								</div>
							</div>
							<br><br>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-key zmdi-hc-fw"></i></span>
								<!-- zmdi zmdi-money -->
								<div class="form-group">
									<div class="fg-line">
										<input type="password" class="form-control" id='loginPassword'
											onkeypress="validateInstantInputgroup(this)"
											ng-model='loginPassword' placeholder="Employee Password">
									</div>
								</div>
								<!-- <span class="input-group-addon last"><i
									class="zmdi zmdi-plus-circle-o"></i></span> -->
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-home zmdi-hc-fw"></i> </span>
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" ng-model='address'
											id='address' onkeypress="validateInstantInputgroup(this)"
											placeholder="Empoyee Address">
									</div>
								</div>
								<!-- <span class="input-group-addon last"><i
									class="zmdi zmdi-plus-circle-o"></i></span> -->
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-accounts-list-alt zmdi-hc-fw"></i></span>
								<div class="fg-line">
									<div class="form-group">
										<div class="fg-line">

											<div class="select">
												<select class="form-control" ng-model='userDepartmentId' myRequired
													id='userDepartmentId'
													onchange="validateInstantInputgroup(this)">
 													<option value="">Select Department</option>
													<option value='{{department.departmentId}}'
														ng-repeat='department in departments'>{{department.parentDepartment.departmentName}}--->{{department.departmentName}}</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
					<br> <br>
					<div class='col-sm-4'>
						<div class="form-group">
							<span>
								<button class="btn btn-primary btn-icon-text waves-effect"
									ng-click="addnewUser();;">
									<i class="zmdi zmdi-check-all"></i>Create User
								</button>

								<button class="btn btn-danger btn-icon-text waves-effect" ng-click='restuserdetail()'>
									<i class="zmdi zmdi-close"></i> Reset
								</button>
							</span>
						</div>
					</div>
					<br>





				</div>
			</div>

		</div>
	</section>

</section>

<footer id="footer" data-ng-include src="'template/footer.html'"></footer>