
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt" ng-controller='leavetypehistorytable'>
			<!-- <div class="block-header">
				<h2>
					Leave Summary <small></small>
				</h2>
			</div> -->
			<div>
				<div class="card">
					<div class="card-header">
						<h2>
							Leave History <small></small>
						</h2>
					</div>
					<div class='table-responsive'>
						<!-- <div class="input-group">
									<input class="form-control" ng-model="searchText"
										placeholder="Search" type="search" ng-change="search()" /> <span
										class="input-group-addon"> <span
										class="glyphicon glyphicon-search"></span>
									</span>
								</div> -->
						<table class="table  table-hover data-table myTable">
							<thead>
								<tr>
									<th class="EmpId"><i class="zmdi zmdi-label zmdi-hc-fw">
									</i><a href="#" ng-click="sort('employeeId',$event)"> Id <span
											class="{{Header[0]}}"></span>
									</a></th>
									<th class="name"><i
										class="zmdi zmdi-assignment-account zmdi-hc-fw"></i><a
										ng-click="sort('firstName')" href="#"> First Name<span
											class="{{Header[1]}}"></span>
									</a></th>

									<th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
										ng-click="sort('lastName')" href="#"> Last Name <span
											class="{{Header[2]}}"></span>
									</a></th>
									<th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
										ng-click="sort('fromDate')" href="#"> From date <span
											class="{{Header[3]}}"></span>
									</a></th>
									<th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
										ng-click="sort('toDate')" href="#"> To Date <span
											class="{{Header[4]}}"></span>
									</a></th>
									<th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
										ng-click="sort('noOfDays')" href="#"> Total days <span
											class="{{Header[5]}}"></span>
									</a></th>
									<th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
										ng-click="sort('leaveType')" href="#"> Leave Type <span
											class="{{Header[6]}}"></span>
									</a></th>
									<th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
										ng-click="sort('leaveStatus')" href="#"> Status <span
											class="{{Header[7]}}"></span>
									</a></th>
									<th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
										ng-click="sort('comments')" href="#"> Remarks <span
											class="{{Header[8]}}"></span>
									</a></th>
									<!-- <th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
										ng-click="sort('department')" href="#"> Department <span
											class="{{Header[7]}}"></span>
									</a></th> -->
									<!-- 	<th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
										ng-click="sort('department')" href="#"> Approved By <span
											class="{{Header[7]}}"></span>
									</a></th> -->

								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="item in ItemsByPage[currentPage] | orderBy:columnToOrder:reverse">
									<td>{{item.employee.employeeId}}</td>
									<td>{{item.employee.firstName}}</td>
									<td>{{item.employee.lastName}}</td>
									<td>{{item.fromDate | date : 'dd-MMM-yyyy'}}</td>
									<td>{{item.toDate | date : 'dd-MMM-yyyy'}}</td>
									<td>{{item.noOfDays}}</td>
									<td>{{item.leaveType}}</td>
									<td>{{item.leaveStatus}}</td>
									<td>{{item.comments}}</td>

								</tr>
							</tbody> 
						</table>
						<ul class="pagination pagination-sm">
							<li ng-class="{active:0}"><a href="" ng-click="firstPage()">First</a></li>
							<li ng-repeat="n in range(ItemsByPage.length)"><a href="#"
								ng-click="setPage()" ng-bind="n+1">1</a></li>
							<li><a href="" ng-click="lastPage()">Last</a></li>
						</ul>



					</div>


				</div>
			</div>
		</div>

	</section>

</section>

<footer id="footer" data-ng-include src="'template/footer.html'"></footer>


