
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt">
			<!-- <div class="block-header">
				<h2>
					Update Employee List <small></small>
				</h2>
			</div> -->

			<div class="card" data-ng-controller="DatepickerDemoCtrl">
				<div class="card-header">
					<h2>
						Link User <small></small>
					</h2>
					<div class="card-body card-padding">
						<div class='row'>
							
							<table class="table table-striped">
			                <thead>
			                    <tr>
			                        <th>ID</th>
			                        <th>First Name</th>
			                        <th>Last Name</th>
			                        <th>Date of Join</th>
			                        <th>Status</th>
			                        <th>Actions</th>
			                    </tr>
			                </thead>
			                <tbody>
			                    <tr>
			                        <td>1</td>
			                        <td>Alexandra</td>
			                        <td>Christopher</td>
			                        <td>01-01-2000</td>
			                        <td>Active</td>
			                        <td><button data-swal-success-msg="" class="btn bgm-orange btn-icon waves-effect waves-circle">
											<i class="zmdi zmdi-check"></i>
										</button>&nbsp;&nbsp;|&nbsp;&nbsp;
										<button data-swal-cancel-msg="" class="btn bgm-cyan btn-icon waves-effect waves-circle">
											<i class="zmdi zmdi-close"></i>
										</button>
									</td>
			                    </tr>
			                    
			                </tbody>
			            </table>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
