<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
	<section id="content" class="page-view ng-scope" data-ui-view="">
		<div class="container ng-scope">

			<!-- <div class="block-header">
				<h2>
					Pream B<small>Engineer , Hydrabad,India</small>
				</h2>

				<ul class="actions m-t-20 hidden-xs">
					<li class="dropdown" uib-dropdown=""><a href="" 
						uib-dropdown-toggle="" class="dropdown-toggle"
						aria-haspopup="true" aria-expanded="false"> <i
							class="zmdi zmdi-more-vert"></i>
					</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="">Privacy Settings</a></li>
							<li><a href="">Account Settings</a></li>
							<li><a href="">Other Settings</a></li>
						</ul></li>
				</ul>
			</div> -->

			<div class="card ng-scope" id="profile-main"
				data-ng-controller="profileCtrl as pctrl">
				<div
					class="pm-overview c-overflow mCustomScrollbar _mCS_1 mCS-autoHide"
					style="overflow: visible;">
					<div id="mCSB_1"
						class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside"
						tabindex="0">
						<div id="mCSB_1_container"
							class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x"
							style="position: relative; top: 0px; left: 0px; width: 100%;"
							dir="ltr">
							<!-- <div class="pmo-pic">
								<div class="p-relative">
									<a href=""> <img class="img-responsive mCS_img_loaded"
										src="img/profile-pics/profile-pic-2.jpg" alt="">
									</a>

									<div class="dropdown pmop-message" uib-dropdown="">
										<button uib-dropdown-toggle=""
											class="btn bgm-white btn-float dropdown-toggle waves-effect waves-circle"
											aria-haspopup="true" aria-expanded="false">
											<i class="zmdi zmdi-comment-text-alt"></i>
										</button>

										<div class="dropdown-menu stop-propagate">
											<textarea placeholder="Write something..."></textarea>

											<button
												class="btn bgm-green btn-float waves-effect waves-circle">
												<i class="zmdi zmdi-mail-send"></i>
											</button>
										</div>
									</div>

									<a href="" class="pmop-edit"> <i class="zmdi zmdi-camera"></i>
										<span class="hidden-xs">Update Profile Picture</span>
									</a>
								</div>


								<div class="pmo-stat">
									<h2 class="m-0 c-white">1562</h2>
									Total Connections
								</div>
							</div> -->

							<div class="pmo-block pmo-contact hidden-xs">
								<h2>Contact</h2>

								<ul>
									<li class="ng-binding"><i class="zmdi zmdi-phone"></i>
										8884330222</li>
									<li class="ng-binding"><i class="zmdi zmdi-email"></i>
										pream.b@Phoenix.com</li>
									<!-- <li class="ng-binding"><i class="zmdi zmdi-facebook-box"></i>
										malinda.hollaway</li>
									<li class="ng-binding"><i class="zmdi zmdi-twitter"></i>
										@malinda (twitter.com/malinda)</li> -->
									<li><i class="zmdi zmdi-pin"></i>
										<address class="m-b-0 ng-binding">
											Phoenix Office, <br> Hydrabad, <br>
											India
										</address></li>
								</ul>
							</div>

							<!-- <div class="pmo-block pmo-items hidden-xs">
								<h2>Connections</h2>

								<div class="pmob-body">
									<div class="row">
										<a href="" class="col-xs-2"> <img
											class="img-circle mCS_img_loaded"
											src="img/profile-pics/1.jpg" alt="">
										</a> <a href="" class="col-xs-2"> <img
											class="img-circle mCS_img_loaded"
											src="img/profile-pics/2.jpg" alt="">
										</a> <a href="" class="col-xs-2"> <img
											class="img-circle mCS_img_loaded"
											src="img/profile-pics/3.jpg" alt="">
										</a> <a href="" class="col-xs-2"> <img
											class="img-circle mCS_img_loaded"
											src="img/profile-pics/4.jpg" alt="">
										</a> <a href="" class="col-xs-2"> <img
											class="img-circle mCS_img_loaded"
											src="img/profile-pics/5.jpg" alt="">
										</a> <a href="" class="col-xs-2"> <img
											class="img-circle mCS_img_loaded"
											src="img/profile-pics/6.jpg" alt="">
										</a> <a href="" class="col-xs-2"> <img
											class="img-circle mCS_img_loaded"
											src="img/profile-pics/7.jpg" alt="">
										</a> <a href="" class="col-xs-2"> <img
											class="img-circle mCS_img_loaded"
											src="img/profile-pics/8.jpg" alt="">
										</a> <a href="" class="col-xs-2"> <img
											class="img-circle mCS_img_loaded"
											src="img/profile-pics/1.jpg" alt="">
										</a> <a href="" class="col-xs-2"> <img
											class="img-circle mCS_img_loaded"
											src="img/profile-pics/2.jpg" alt="">
										</a> <a href="" class="col-xs-2"> <img
											class="img-circle mCS_img_loaded"
											src="img/profile-pics/3.jpg" alt="">
										</a> <a href="" class="col-xs-2"> <img
											class="img-circle mCS_img_loaded"
											src="img/profile-pics/4.jpg" alt="">
										</a>
									</div>
								</div>
							</div> -->
						</div>
					</div>
					<div id="mCSB_1_scrollbar_vertical"
						class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical"
						style="display: block;">
						<div class="mCSB_draggerContainer">
							<div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
								style="position: absolute; min-height: 50px; display: block; height: 587px; max-height: 695px; top: 0px;"
								oncontextmenu="return false;">
								<div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
							</div>
							<div class="mCSB_draggerRail"></div>
						</div>
					</div>
					<div id="mCSB_1_scrollbar_horizontal"
						class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal"
						style="display: none;">
						<div class="mCSB_draggerContainer">
							<div id="mCSB_1_dragger_horizontal" class="mCSB_dragger"
								style="position: absolute; min-width: 50px; width: 0px; left: 0px;"
								oncontextmenu="return false;">
								<div class="mCSB_dragger_bar"></div>
							</div>
							<div class="mCSB_draggerRail"></div>
						</div>
					</div>
				</div>

				<div class="pm-body clearfix">
					<!-- ngInclude: 'template/profile-menu.html' -->
					<ul class="tab-nav tn-justified ng-scope"
						data-ng-include="'template/profile-menu.html'">
						<li class="btn-wave ng-scope active" data-ui-sref-active="active"><a
							data-ui-sref="pages.profile.profile-about"
							href="#/pages/profile/profile-about">About</a></li>
						<li class="btn-wave ng-scope" data-ui-sref-active="active"><a
							data-ui-sref="pages.profile.profile-timeline"
							href="#/pages/profile/profile-timeline">Password Management</a></li>
						</ul>

					<!-- uiView:  -->
					<data ui-view="" class="ng-scope">
					<div class="pmb-block ng-scope">
						<div class="pmbb-header">
							<h2>
								<i class="zmdi zmdi-equalizer m-r-5"></i> Summary2
							</h2>

							<!-- ngIf: pctrl.editSummary === 0 -->
							<ul class="actions ng-scope" data-ng-if="pctrl.editSummary === 0">
								<li class="dropdown" uib-dropdown=""><a href=""
									uib-dropdown-toggle="" class="dropdown-toggle"
									aria-haspopup="true" aria-expanded="false"> <i
										class="zmdi zmdi-more-vert"></i>
								</a>

									<ul class="dropdown-menu dropdown-menu-right">
										<li><a data-ng-click="pctrl.editSummary = 1" href="">Edit</a>
										</li>
									</ul></li>
							</ul>
							<!-- end ngIf: pctrl.editSummary === 0 -->
						</div>
						<div class="pmbb-body p-l-30">
							<!-- ngIf: pctrl.editSummary === 0 -->
							<div class="pmbb-view ng-binding ng-scope"
								data-ng-if="pctrl.editSummary === 0">Sed eu est vulputate,
								fringilla ligula ac, maximus arcu. Donec sed felis vel magna
								mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis
								tortor. Mauris ante urna, ornare sit amet mollis eu, aliquet ac
								ligula. Nullam dolor metus, suscipit ac imperdiet nec,
								consectetur sed ex. Sed cursus porttitor leo.</div>
							<!-- end ngIf: pctrl.editSummary === 0 -->

							<!-- ngIf: pctrl.editSummary === 1 -->
						</div>
					</div>

					<div class="pmb-block ng-scope">
						<div class="pmbb-header">
							<h2>
								<i class="zmdi zmdi-person m-r-5"></i> Basic Information
							</h2>

							<!-- ngIf: pctrl.editInfo === 0 -->
							<ul class="actions ng-scope" data-ng-if="pctrl.editInfo === 0">
								<li class="dropdown" uib-dropdown=""><a href=""
									uib-dropdown-toggle="" class="dropdown-toggle"
									aria-haspopup="true" aria-expanded="false"> <i
										class="zmdi zmdi-more-vert"></i>
								</a>

									<ul class="dropdown-menu dropdown-menu-right">
										<li><a data-ng-click="pctrl.editInfo = 1" href="">Edit</a>
										</li>
									</ul></li>
							</ul>
							<!-- end ngIf: pctrl.editInfo === 0 -->
						</div>
						<div class="pmbb-body p-l-30">
							<!-- ngIf: pctrl.editInfo === 0 -->
							<div class="pmbb-view ng-scope" data-ng-if="pctrl.editInfo === 0">
								<dl class="dl-horizontal">
									<dt>Full Name</dt>
									<dd class="ng-binding">Mallinda Hollaway</dd>
								</dl>
								<dl class="dl-horizontal">
									<dt>Gender</dt>
									<dd class="ng-binding">female</dd>
								</dl>
								<dl class="dl-horizontal">
									<dt>Birthday</dt>
									<dd class="ng-binding">23/06/1988</dd>
								</dl>
								<dl class="dl-horizontal">
									<dt>Martial Status</dt>
									<dd class="ng-binding">Single</dd>
								</dl>
							</div>
							<!-- end ngIf: pctrl.editInfo === 0 -->

							<!-- ngIf: pctrl.editInfo === 1 -->
						</div>
					</div>


					<div class="pmb-block ng-scope">
						<div class="pmbb-header">
							<h2>
								<i class="zmdi zmdi-phone m-r-5"></i> Contact Information
							</h2>

							<!-- ngIf: pctrl.editContact === 0 -->
							<ul class="actions ng-scope" data-ng-if="pctrl.editContact === 0">
								<li class="dropdown" uib-dropdown=""><a href=""
									uib-dropdown-toggle="" class="dropdown-toggle"
									aria-haspopup="true" aria-expanded="false"> <i
										class="zmdi zmdi-more-vert"></i>
								</a>

									<ul class="dropdown-menu dropdown-menu-right">
										<li><a data-ng-click="pctrl.editContact = 1" href="">Edit</a>
										</li>
									</ul></li>
							</ul>
							<!-- end ngIf: pctrl.editContact === 0 -->
						</div>
						<div class="pmbb-body p-l-30">
							<!-- ngIf: pctrl.editContact === 0 -->
							<div class="pmbb-view ng-scope"
								data-ng-if="pctrl.editContact === 0">
								<dl class="dl-horizontal">
									<dt>Mobile Phone</dt>
									<dd class="ng-binding">00971123456789</dd>
								</dl>
								<dl class="dl-horizontal">
									<dt>Email Address</dt>
									<dd class="ng-binding">malinda.h@gmail.com</dd>
								</dl>
								<dl class="dl-horizontal">
									<dt>Twitter</dt>
									<dd class="ng-binding">@malinda</dd>
								</dl>
								<dl class="dl-horizontal">
									<dt>Skype</dt>
									<dd class="ng-binding">malinda.hollaway</dd>
								</dl>
							</div>
							<!-- end ngIf: pctrl.editContact === 0 -->

							<!-- ngIf: pctrl.editContact === 1 -->
						</div>
					</div>
					</data>
				</div>
			</div>
		</div>
	</section>
</section>