
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt">
			<!-- <div class="block-header">
				<h2>
					Update Employee List <small></small>
				</h2>
			</div> -->

			<div class="card" data-ng-controller="statusreportscontroller">

				<div class="card-header">
					<h2>
						Report by Status<small></small>
					</h2>
					<div class="card-body card-padding p-t-0">

						<div class='row'>
							<div class='col-md-3' style="width:25% !important">
								<div class="form-group">
									<div class="fg-line">
										<div class="date-picker input-group dp-blue" id="startDate"
											ng-class="{ 'is-opened': opened == true }">
											<span class="input-group-addon"><i
												class="zmdi zmdi-calendar ma-icon"></i></span>
											<div class="fg-line" 
												ng-class="{ 'fg-toggled': opened == true }">
												<input ng-click="open($event, 1)" type="text" readonly 
													class="form-control" uib-datepicker-popup="{{format}}"
													show-weeks="false" ng-model="dtPopup" is-open="opened"
													min-date="minDate" datepicker-options="dateOptions"
													ng-required="true" close-text="Close"
													placeholder="Start Date" />
											</div>

										</div>
									</div>

								</div>
							</div>
							<div class='col-md-3' style="width:25% !important">
								<div class="form-group">
									<div class="fg-line">
										<div class="date-picker input-group dp-blue"
											ng-class="{ 'is-opened': opened2 == true }">
											<span class="input-group-addon"><i
												class="zmdi zmdi-calendar ma-icon"></i></span>
											<div class="fg-line" id="endDate"
												ng-class="{ 'fg-toggled': opened2 == true }">
												<input ng-click="open($event, 2)" type="text" readonly
													class="form-control" uib-datepicker-popup="{{format}}"
													show-weeks="false" ng-model="dtPopup1" is-open="opened2"
													min-date="minDate" datepicker-options="dateOptions"
													ng-required="true" close-text="Close"
													placeholder="End Date" />
											</div>

										</div>
									</div>

								</div>
							</div>
							<div class='col-md-3' style="width:25% !important">
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control"  placeholder="Status"  ng-model="status">
									</div>

								</div>
							</div>
							
							
							<div class='col-md-3'style="width:25% !important">
								<div class="form-group">

									<button class="btn btn-info btn-icon waves-effect waves-circle"
										ng-click="search()">
										<i class="zmdi zmdi-search"></i>
									</button>

								</div>
							</div>
						</div>
					</div>
					<div class="card-body card-padding">
						<div class='table-responsive'></div>
						<div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter
							class="grid"></div>

					</div>
				</div>

			</div>
		</div>
	</section>
</section>
