
<md-dialog>
<form ng-cloak data-ng-controller="timesheethistoryDetails">
	<md-toolbar>
	<div class="md-toolbar-tools">
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancelbutton()">
		<i class="zmdi zmdi-close-circle-o zmdi-hc-fw"></i> </md-icon> </md-button>
	</div>
	</md-toolbar>

	<md-dialog-content>
	<div class="md-dialog-content">
		<div class="card-body card-padding">
			<div class='card-body table-responsive'>
				<table class='table'>
					<thead>
						<tr>
							<th>Employee Id</th>
							<th>Start Date</th>
							<th>End Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
							{{employeetimesheetid}}</td>
							<td>
							{{timesheetweekstart}}</td>
							<td>
							{{timesheetweekend}}</td>
								
						</tr>
					</tbody>
				</table>
			</div>
			<div class='col-sm-12'>
				<div class='row' id='timeTable'>
					<div class='card-body table-responsive'>
						<table class='table'>
							<thead>
								<tr>
									<th>Customer</th>
									<th>Customer Program</th>
									<th>Department</th>
									<th>hours</th>
									<th>Project</th>
									<th>Task</th>
									<th>Day</th>
									
								</tr>
							</thead>
							<tbody>
								<!--  <tr ng-repeat="timesheet in timesheets">
									<td>
										<div class="fg-line">
											<input type="text" class="form-control" ng-model="employeeid"
												disabled>
										</div>
										<div class="fg-line">
											<input type="text" class="form-control" ng-model="weekstart"
												disabled>
										</div>
										<div class="fg-line">
											<input type="text" class="form-control" ng-model="weekend"
												disabled>
										</div>
									</td>
								</tr>  -->
							</tbody>
						</table>
					</div>


				</div>
			</div>



		</div>

	</div>
	<!-- timesheet Content 1 ends  -->
	<hr />
	<div class='row'>
		<div class='col-sm-3'>
			<div class="form-group">
				<span class="input-group-addon"><i
					class="zmdi zmdi-border-color zmdi-hc-fw"> </i>Comments : </span>
				<div class="fg-line"></div>
			</div>

		</div>

		<div class="col-sm-6">

			<div class="form-group ">
				<div class="fg-line">
					<input type="text" class="form-control ng-isolate-scope" disabled
						ng-model="comments" value="">
				</div>
			</div>
		</div>

	</div>
	<!-- timesheetContainer ends  --> </md-dialog-content>

</form>
</md-dialog>

